/Ajuda.class
/Alojamento.class
/CatalogoDeRegioes.class
/CatalogoDeUtilizadores.class
/Item.class
/Membro.class
/Migrante.class
/Regiao.class
/RegistarAjudaHandler.class
/Utilizador.class
/Voluntario.class
/ProcurarAjudaHandler.class
/CatalogoDeAjudas.class
/MigrantMatcher.class
