/MigrantMatcher.class
/ProcurarAjudaHandler.class
/RegistarAjudaHandler.class
/SMSSender.class
/TelegramSMSAdapter.class
/PidgeonSMSAdapter.class
/RegistarItemStrategy.class
/RegistarAlojamentoStrategy.class
